.centered-content{
    width: 840px;
    height: 480px;
    margin-left: 530px;
    margin-top: 270px;
    
}

.login-box{
    position: relative;
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background-color:burlywood;
    border-radius: 5px;
    padding: 35px;
    
}

.btn{
    position: absolute;    
    bottom: 25px;
    right: 39px;
}