<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New List</title>
</head>
<body>
    <div class="centered-content">
        <div class="modal-box">
            <h1 class="title">Create New List</h1>
            <div class="input-group">
                <input #listTitleInput type="text" class="form-control" placeholder="List title" aria-label="List title" aria-describedby="button-addon1">
                <button class="btn-create-list" type="button" (click)="createList(listTitleInput.value)">Create</button>
            </div>
            <button routerLink="/" class="button">Go Back</button>
        </div>
    </div>
</body>
</html>
