.page-content {
  display: flex;
  /* margin-left: -331px; */
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  background-color: #f5f5f5;
  height:-webkit-fill-available;
  /* width: 138%; */
  /* margin-top: 80px; */
}

.filter-bar {
  gap: 10px;
  display: flex;
  /* justify-content: space-between; */
  width: 98%;
  /* background-color: #1f4a7d; */
  background-color: #fff;
  /* padding: 10px; */
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  border: 2px solid #ddd;
  margin-top: 10px;
}

.filter {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  /* padding: 10px 25px; */
  margin-top: 10px;
  margin-left: 25px;
  /* background-color: #fff; */
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 125px;
  height: 26px;
  margin-top: 23px;
  margin-left: -8px;
}

.filter label {
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-container {
  display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-left: -25px;
}

.filter-box:hover {
  /* background-color: #3b7ede; */
}

.filter-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: #fff; */
  color: #000;
  height: 80px;
  border-radius: 3px;
  padding: 10px;
  /* border: 2px solid #ddd;*/
}

.filter-box h2 {
  font-size: 16px;
  margin: 0;
}

#date-range {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 140px;
  margin-top: 22px;
}

.from-label,
.to-label {
  /* margin-bottom: 5px; */
}

.date-input{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 140px;
  margin-top: 22px;
  cursor: pointer;
  background-image: url(/src/assets/calendar.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 20px 20px;
}

.calendar-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: -70px;
  margin-left: 60px;
}



#department{
  margin-top: 28px;
  background: #fff;
  border: 1px solid #ccc;
  /* margin-top: 22px; */
  margin-left: -15px;
  background: #fff;
  border: 1px solid #ccc;
  width: 155px;
  height: 26px;
  border-radius: 3px;
  padding: 1px 0 4px;
  font-weight: 400;
  background-image: url(/src/assets/down.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px 10px;
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  position: relative; 
  color: #000; 
}

/* To hide scrollbar in case of overflow */
#department::-webkit-scrollbar {
  display: none; 
}



#section{
  margin-top: 22px;
  margin-left: -15px;
  background: #fff;
  border: 1px solid #ccc;
  width: 155px;
  height: 26px;
  border-radius: 3px;
  padding: 1px 0 4px;
  font-weight: 400;
  /* background-image: url(/src/Components/Assets/down.png); */
  background-image: url(/src/assets/down.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px 10px;
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  position: relative; 
  color: #000; 
}

/* To hide scrollbar in case of overflow */
#section::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

#stage {
  margin-top: 22px;
  margin-left: -15px;
  background: #fff;
  border: 1px solid #ccc;
  width: 155px;
  height: 26px;
  border-radius: 3px;
  padding: 1px 0 4px;
  font-weight: 400;
  background-image: url(/src/assets/down.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px 10px;
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  color: #000;
}

#stage::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.dropdown-options {
  position: absolute;
  top: 85%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 155px;
  /* max-height: 150px; */
  overflow-y: auto;
  scrollbar-width: none;
}


.summary-boxes {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 20px;
  gap: 10px;
  height: 100px;
  position: relative;
}

.summary-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  width: 22%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  color: white;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* transition: transform 0.3s ease, box-shadow 0.3s ease;*/
}

.summary-box:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.summary-box h3 {
  font-size: 17px;
  margin-bottom: 5px;
  margin-left: -3px;
  margin-top: 1px;
  color: #fff;
  text-transform: uppercase;

}

.summary-box p {
  margin-left: 165px;
    font-size: 35px;
    font-weight: bold;
    margin-top: -36px;
    color: #fff;
}

.box1 {
  background: linear-gradient(145deg, #53b3cc, #5a54cc);
}

.box2 {
  background: linear-gradient(145deg, #53b3cc, #5a54cc);
}

.box3 {
  background: linear-gradient(145deg, #53b3cc, #5a54cc);
}

.box4 {
  background: linear-gradient(145deg, #53b3cc, #5a54cc);
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
  padding-left: 10px;
  gap: 20px;
  margin-top: -235px;
}
.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}

/* .text {
} */

.inspection-items {
  position: absolute;
  right: 97px;
  bottom: 3px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3px;
}

.inspection-items p {
  margin: 0;
  font-size: 12px;
  color: #d6dddc;
}

.lhb {
  color: #ff6666;
}

.icf {
  color: #66b2ff;
}

.emu {
  color: #ffcc66;
}

.vb {
  color: #66ff99;
}

.workflow-step {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  height: 300px;
}

.workflow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.workflow-step {
  position: relative;
}

/* .workflow-step h4 {
  font-size: 20px;
  color: #fff;
  margin-top: 1px;
  background: #1f4a7d;
  border-radius: 8px;
}

.workflow-step p {
  font-size: 14px;
  margin-bottom: 15px;
}

.workflow-step img {
  max-width: 113%;
  height: auto;
}

.operations-items {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.operations-items p {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
}

.re-axling {
  top: 10px;
  left: -15px;
  color: #ff6666;
}

.re-discing {
  top: 10px;
  right: -15px;
  color: #66b2ff;
}

.axle-inspection {
  bottom: 10px;
  left: -15px;
  color: #ffcc66;
}

.wheel-inspection {
  bottom: 10px;
  right: -15px;
  color: #66ff99;
} */

/* .arrowImage {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translateY(-50%);
  width: 40px;

  height: auto;
  z-index: 10;
} */

.charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
}

.chart {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

/* .chart h4 {
  font-size: 16px;
  color: #1f4a7d;
  margin-bottom: 10px;
} */

/* .chart img {
  max-width: 100%;
  height: auto;
} */

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
}

.chart {
  background-color: #fff;
  border: 1px solid #8d7c7c;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  height: 250px;
}

#sankeyChart{
  width: 90%;
  height:300px;
}

.pieChart{
  width: 100%;
  height:350px;
}

.radarChart{
  padding-left: 30px;
  width: 100%;
  height:350px;
}

.barChart{
  padding-top: 70px;
  width: 100%;
  height:295px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px){

  .sidebar{
    min-width: 40px;
  }

  .sidebar:hover{
    width: 230px;
  }

  .layout{
    display: flex;
    flex-direction: column;
    height: 99vh;
  }

  .page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    /* height: -webkit-fill-available; */
    height: 1150px;
    /* width: 941px; */
    width: 100%;
  }

  .filter-bar{
    /* gap: 10px;
    display: flex;
    width: 98%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #ddd;
    margin-top: 10px; */
    display: grid;
    grid-template-columns: 164px 394px 167px 143px;
    height: 215px;
  }

  .filter{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    /* margin-top: 10px; */
    margin-left: 22px;
    border-radius: 4px;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
  }

  .filter-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 0px;
  }

  .summary-boxes{
    display: flex;
    justify-content: center;
    width: 97%;
    margin-bottom: 20px;
    gap: 10px;
    height: 100px;
    position: relative;
  }

  .summary-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    width: 22%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    color: white;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease;*/
  }
  .summary-box p{
    margin-left: 86px;
    /* font-size: 35px;
    font-weight: bold;
    margin-top: -36px;
    color: #fff; */
  }

  .summary-box box3 .text .number p{

  }

  .workflow{
    margin-left: auto;
  }

  .workflow-step{
    margin-left: auto;
  }

  .header-login{
    
  }

  #sankeyChart{

  }

  .charts{
    /* width: 100; */
    display: grid;
    grid-template-columns: 312px 311px 317px;
    /* padding-top: 20px; */
  }

  .barChart{
    /* padding-top: 70px; */
    width: 80%;
    /* height: 295px; */
  }

  .pieChart{
    width: 80%;
    /* height: 350px; */
  }

  .radarChart{
    /* padding-left: 30px; */
    width: 78%;
    /* height: 350px; */
  }
}